.coming-soon {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: var(--content-bg);
  color: var(--text-main);
}

.coming-soon h1 {
  font-size: 28px;
  font-weight: 600;
  color: var(--primary);
  margin-bottom: 8px;
}

.coming-soon p {
  font-size: 14px;
  color: var(--text-sub);
}
